.form {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}

.pageInfo {
  text-align: center;
  padding: 10px;
}

.outline {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
}

.outline label {
  align-self: flex-start;
}
.outline p {
  align-self: start;
}

.button {
  max-width: 900px;
  margin: 0 auto;
  display: block;
}

.imagesContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.imageContainer {
  position: relative;
  width: 10%;
  height: auto;
}
.buttonOnHover {
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 600px) {
  .imageContainer {
    position: relative;
    width: 30%;
    height: auto;
  }
}
